body {
    width: auto;
    margin: 0 auto;
    background-color: #6633cc;
   
  
  }
  .Logo {
      position:absolute;
      top: 20px;
      left: 200px;
      width: 40px;       /* taille du logo */
      height: auto;
      object-fit: contain;
      border-radius: 50%;      /* rend l'image ronde */
    
  }
  .profile {
    width: 50px;
    position: relative;
    top: 1%;    /* Déplace le texte vers le bas */
    left: 10px;   /* Déplace le texte vers la droite */
    margin: 0 auto;
    border-radius: 90px;
  }
  .profile_pic {
      width: 100px;
    position: relative;
    top: 1%;    /* Déplace le texte vers le bas */
    left: 0px;   /* Déplace le texte vers la droite */
    margin: 0 auto;
    border-radius: 90px;
  }
  .title {
      color: #9f9f9f ;
      width: 500px;
    position: relative;
    top: 30px;    /* Déplace le texte vers le bas */
    left: 200px;   /* Déplace le texte vers la droite */
  
  }

  .parametres {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #9f9f9f;
    background:transparent; 
    border: none; 
    cursor: pointer;
  }

  .pp {
    position: absolute;
    top: 37%;
    left: 20px;
    width: 70px;       /* taille du logo */
    height: 70px; /* Hauteur de la bannière */
    border-radius: 90%;  
    
  }
  .pseudo {
    position: absolute;
    top: 42%;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #9f9f9f;
  }
 
 .banner {
   position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px; /* Hauteur de la bannière */
    border: 1px solid #9f9f9f; /* Bordure blanche, fine et pleine */
 }