body {
    width: 600px;
    margin: 0 auto;
    background-color: #6633CC;
   
  
  }
.icon {

	width: 10%;
  position: relative;
  top: 1%;    /* Déplace le texte vers le bas */
  left: 0px;   /* Déplace le texte vers la droite */
  margin: 0 auto;
  border-radius: 90px;
}
.profile {
  width: 50px;
  position: relative;
  top: 1%;    /* Déplace le texte vers le bas */
  left: 10px;   /* Déplace le texte vers la droite */
  margin: 0 auto;
  border-radius: 90px

}
.profile_pic {
	width: 100px;
  position: relative;
  top: 1%;    /* Déplace le texte vers le bas */
  left: 0px;   /* Déplace le texte vers la droite */
  margin: 0 auto;
  border-radius: 90px;
}
.title {
    position: absolute;
    top: 7px;
    right: 310px;
    font-size: 18px;
    font-weight: bold;
    color: #9f9f9f;

}
.profil {
    position: absolute;
    top: 100px;
    right: 600px;
    font-size: 18px;
    font-weight: bold;
    color: #9f9f9f;
    background:transparent; 
    border: none; 
    cursor: pointer;
}
.parametres {
    position: absolute;
    top: 100px;
    right: 300px;
    font-size: 18px;
    font-weight: bold;
    color: #9f9f9f;
    background:transparent; 
    border: none; 
    cursor: pointer;

}