body {
  width: auto;
  margin: 0 auto;
  background-color: #6633CC;
 

}
.icon {

	width: 100px;
  position: relative;
  top: 1%;    /* Déplace le texte vers le bas */
  left: 0px;   /* Déplace le texte vers la droite */
  margin: 0 auto;
  border-radius: 90px;
}
.pp{
  position: absolute;
  top: 85%;
  left: 20px;
  width: 50px;  
  border: 1px solid  #9f9f9f; /* Bordure de la bannière */
  border-radius: 90px;
}
.save{
  position: absolute;
  top: 100%;
  left: 20px;
  width: auto;       /* taille du logo */
}
.username {
  
  top: 7px;
  right: 310px;
  font-size: 18px;
  font-weight: bold;
  color: #9f9f9f;
  background-color: #6633CC;
  border: none;
  cursor: pointer;
}
.banner{
  position:relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px; 
  border : 5px solid  #9f9f9f;

}
.profile {
  width: 50px;
  position: relative;
  top: 1%;  
  left: 10px;
  margin: 0 auto;
  border-radius: 90px;
}
.profile_pic {
	width: 100px;
  position: relative;
  top: 1%; 
  left: 0px;   
  margin: 0 auto;
  border-radius: 90px;
}
.title {
	color: #9f9f9f ;
	width: 500px;
  position: relative;
  top: 3px; 
  left: 2px;   

}
.pp-btn {
  background:transparent; 
  border: none; 
}